<html>
  <head>
    <title>
      <% if @track_info %>
        <%= @track_info[:artist] %> - <%= @track_info[:title] %> - shell.fm
       <% else %>
         shell.fm - stopped
       <% end %>
    </title>

    <script type="text/javascript" src="javascripts/jquery-1.3.2.min.js" />

    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" >

    <script type="text/javascript"></script>

  </head>

  <body bgcolor=#FFFFFF onload="setRefresh();" onunload="clearRefresh()">





    <hr>

  </body>
</html>

