<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Editing <%= @filename %></title>
  </head>
  <body>
    <form action="/alarms" method="post">
    <h1>Editing <%= @filename %></h1>
      <textarea name="data" rows=10 cols=160 /><%= @data %></textarea><br />
      <input type="submit" value="Save File" />
    </form>
  </body>
</html>

