body {
    background-image: url("/images/background.png");
    font-family:sans-serif;

}

#wrapper {
	position: relative;
	text-align: left;
    top: 0;
	width: 900px;
	height: 450px;
	margin: 0px auto;
}

#boxwrapper {
	background-color: #afafaf;
	border: solid 7px #e0e0e0;
	position: absolute;
	top: 5%;
	left: 0px;
	width: 900px;
	height: 450px;
	min-width: 900px;
	padding: 15px;
}

#controlbox {
    background-image: url("/images/box_background.png");
    width: 900px;
	height: 450px;
}

a img {
    border: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #4AFF07;
}


.left { float: left; }
.right { float: right; }

.light {
    background-image: url("/images/t_pixel.png");
    padding: 12px;
    color: #333;
}

.dark {
    background-image: url("/images/t_pixel_vdark.png");
    padding: 12px;
    color: #333;
}

.logo {
    margin-left:25px;
    margin-top:10px;
}

#spinner {
    float: left;
    margin-left:3px;
    margin-top:30px;
}

.station {
    float: right;
}

.station a {
    color: #eee;
    font-weight: bold;
    font-size: 13px;
}

.loggedin {
    float: right;
    font-size: 11px;
    text-align: center;
}

.track-info {
    clear: both;
    padding: 15px 25px;
}

#album-image {
    float: left;
    width: 174px;
    height: 174px;
    background-color: #888;
    border: solid 5px #dadada;
}

#album-image #noimage {
    color: #eee;
    margin-left:18px;
    margin-top:75px;
}

#album-image img {
    width: 174px;
    height: 174px;
}

.trackdetails {
    float: left;
    width: 633px;
    height: 159px;
}

table#details th {
    color: #333;
    font-size: 11px;
    text-align: right;
}
table#details td {
    font-size: 13px;
    text-align: left;
}

#volumelabel {
    float:left;
    clear: both;
    font-size: 11px;
    font-weight: bold;
    margin-top:14px;
    margin-left: 5px;
}

#volumeslider {
    float:left;
    margin-top:13px;
    width:200px;
    margin-left:13px;
}

.ui-slider-horizontal {
    height: 15px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: 0;
}
.ui-slider .ui-slider-handle {
    height: 13px;
    width: 15px;
}

#volspinner {
    float: left;
    margin-top: 12px;
    margin-left: 14px;
}

#icons a {
    font-size: 10px;
    color: #eee;
}
#icons a:hover {
    color: #222;
}

.buttons {
    clear: both;
    float: left;
    margin-top: 15px;
}

ul.buttonlist {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
}
ul.buttonlist li {
    background-image: url("/images/t_pixel_dark.png");
    display: inline;
    padding: 8px 4px 4px 8px;
    text-align:center;
}

ul.buttonlist li:hover {
    background-image: url("/images/t_pixel_hover.png");
}

.flash {
    width: 876px;
    bottom: 15px;
    position: absolute;
    text-align: center;
    color: #474747;
}

.changestation {
    float: left;
    clear: both;
    margin-top: 15px;
    width: 876px;
    font-size: 12px;
    text-align: center;
}

#equalizer {
    float: left;
    background-image: url("/images/t_pixel_dark.png");
    margin-top: 8px;
    width:226px;
}

#equalizer #image {
    background-image: url("/images/equalizer.gif");
    background-position: -13px -30px;
    background-repeat: no-repeat;
    height:31px;
    width:226px;
    opacity:0.6;
}

.ui-progressbar-value { background-image: url(/images/pbar-ani-green.gif); }
#progresstime {
    height: 20px;
    width: 450px;
    margin-top: 5px;
}

#remaining p {
    display: inline;
    font-size: 12px;
    margin-left: 5px;
}

